{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <h4>Klienci</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-success m-2" href="{{ getRouteByName('user.add') }}">Add new user <span class="sr-only">(current)</span></a>

            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Typ</td>
                        <td>Województwo</td>
                        <td></td>
                    </tr>
                </thead>
                {% for customer in customers %}
                    <tr>
                        <td>{{customer['id']}}</td>
                        <td>{{customer['type']}}</td>
                        <td>{{customer['province']}}</td>
                        <td>
                            <a class="btn btn-success" href="{{ getRouteByName('user.view', {'id' : customer['id']}) }}">view</a>
                            <a class="btn btn-secondary" href="{{ getRouteByName('api.user', {'id' : customer['id']}) }}">json</a>
                            <a class="btn btn-info" href="{{ getRouteByName('user.edit', {'customer' : customer['id']}) }}">edit</a>
                            <a class="btn btn-danger" href="{{ getRouteByName('user.delete', {'id' : customer['id']}) }}">delete</a>

                        </td>
                    </tr>
                {% endfor %}
            </table>


        </div>

    </div>
</div>


{% endblock %}