
{% import "macro/helper.html.twig" as helper %}

{% for error in form['errors'] %}
    <div class="alert alert-danger">
        {{error}}
    </div>
{% endfor %}

<div class="col-sm-8">

    <form action="{{ getRouteByName(form['route_name']) }}" method="{{form['method']}}" id="edit_user_form">
        {% for key,field in form['fields'] %}
        <div class="row m-1 input-row" data-error-message="{{field['type'].getMessage()}}">
            <div class="col-sm-6">
                {% if field['data']['label'] is defined %}
                    <label>{{field['data']['label']}}</label>
                {% elseif field['type_name'] == 'hidden' %}
                {% else %}
                    <label>{{key}}</label>
                {% endif %}
            </div>

            <div class="col-sm-6">
                    {% if field['type_name'] == 'select' %}
                        <select name="{{field['name']}}" {{helper.attrToString(field['data'])}}></select>
                    {% elseif field['type_name'] == 'checkbox' %}
                    <div  {{helper.attrToString(field['data'])}}>
                        {% for key,val in field['data']['choices'] %}
                            <div class="form-check ml-2">
                                <input name="{{field['name']}}" type="checkbox" value="{{key}}" 
                                {{helper.attrToString(field['data']['choiceAttr'][key])}}
                                {% if field['data']['value'] is defined and field['data']['value'] == key %}checked{% endif %}
                                >
                                <label class="form-check-label">{{val}}</label>
                            </div>
                        {% endfor %}
                    </div>

                    {% else %}

                        <div class="{% if field['data']['prefix'] is defined %}d-flex{% endif %}">
                            {% if field['data']['prefix'] is defined %}
                                <input type="text" class="width-40" value="{{field['data']['prefix']}}" disabled>
                            {% endif %}
                            <input type="{{field['type_name']}}" name="{{field['name']}}" {{helper.attrToString(field['data'])}}>
                        </div>

                    {% endif %}
                    
                    <div class="error-placement">
                        {% if field['error'] is defined %}
                        <div class="alert alert-danger">
                            {{field['error']}}
                        </div>
                    {% endif %}
                    </div>
                   
                        
                </div>
            </div>
        {% endfor %}
    </form>
</div>

